{%extends 'layout_admin.html' %}
{% block body %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tablero Empresas</h1>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <p>En Tablero de empresas podrá agregar, editar o eliminar empresas.</p>
                        </div>
                    </div>
                     <!-- Content Row-->

                    <!-- Container Fluid -->

                    <div class="container-fluid">
                          <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                            <div class="col-6 d-inline"><h6 class="m-0 font-weight-bold text-primary">Empresas</h6></div>
                            <div class="col-6 d-inline text-right"><a href="#" data-toggle="modal" data-target="#ModalProveedor" class="btn btn-user btn-primary"><i class="fas fa-plus-circle"></i> Agregar nueva Empresa</a></div>
                        </div>        
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Rut</td>
                                            <td>Nombre</td>
                                            <td>Teléfono</td>
                                            <td>Email</td>
                                            <td>Operaciones</td>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <td>rut</td>
                                            <td>nombre</td>
                                            <td>telefono</td>
                                            <td>email</td>
                                            <td>operaciones</td>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        {% for empresa in empresas %}
                                        <tr>
                                            <td>{{empresa.1}}</td>
                                            <td>{{empresa.2}}</td>
                                            <td>{{empresa.3}}</td>
                                            <td>{{empresa.4}}</td>
                                            <td>
                                                <form action="/edit_empresa/{{empresa.0}}"><button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button> 
                                                <!-- <a onClick="Alternar(seccion1)" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>  -->
                                                <a href="/delete_empresa/{{empresa.0}}" class="btn btn-sm btn-danger btn-delete"><i class="fas fa-trash-alt"></i></a>
                                                </form>
                                            </td>                               
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer py-3">
                            <div class="row">
                                
                            </div>        
                        </div>
                    </div>

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}
 
   


   


