{%extends 'layout_admin.html' %}
{% block body %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tablero Principal</h1>
                    </div>

                    

                    <!-- Container Fluid -->

                    <div class="container-fluid">
                          <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                            <div class="col-6 d-inline"><h6 class="m-0 font-weight-bold text-primary">Editar Activo</h6></div>
                            
                        </div>        
                        </div>
                        <div class="card-body">
                            <form action="/update_activo/{{activos.0}}" method="POST" onsubmit=" return validaActivo() ">
                 
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="patente" id="patente" placeholder="Patente" value="{{activos.1}}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" name="tipo_vehiculo" id="tipo_vehiculo" placeholder="Tipo Vehículo" value="{{activos.2}}">
                            </div>
                        </div>  

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="marca" id="marca" placeholder="Marca" value="{{activos.3}}">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="modelo" id="modelo" placeholder="Modelo" value="{{activos.4}}">
                            </div>
                        </div> 
                        
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="numero_motor" id="numero_motor" placeholder="Motor" value="{{activos.5}}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" name="chasis" id="chasis" placeholder="Chasis" value="{{activos.6}}">
                            </div>    
                        </div>  

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="color" id="color" placeholder="Color" value="{{activos.7}}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" name="año" id="año" placeholder="Año" value="{{activos.8}}">
                            </div>
                        </div> 
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="fecha_rev_tec" id="fecha_rev_tec" placeholder="Fecha Revisión Técnica" value="{{activos.9}}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" name="fecha_perm_circ" id="fecha_perm_circ" placeholder="Fecha Permiso Circulación" value="{{activos.10}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" name="combustible" id="combustible" placeholder="Combustible" value="{{activos.11}}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" name="transmision" id="transmision" placeholder="transmision" value="{{activos.12}}">
                            </div>
                        </div> 
                        <a class="btn btn-user btn-secondary" type="reset" href="/listar_activo" >Cancelar</a>
                        <button class="btn btn-user btn-success" type="submit">Editar</a>
                    </form>
				
				</div>
                <!-- <div class="modal-footer">
                    <button class="btn btn-user btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-user btn-success" type="submit">Agregar</a>
                </div> -->
            </div>
            
            
            </div>
            </div>
      <!-- Footer -->
{% endblock %}