{%extends 'layout_empresa.html' %}
{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tablero Principal</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- USUARIOS -->
        <div class="col-xl-8 col-md-8 offset-xl-2 offset-md-2 col-xs-12 mt-3 mb-5">
            <div class="card border-left-success shadow h-100 py-2">
                <h6 class="ml-3 mt-3 font-weight-bold text-primary">Ingresar imagen para registrar</h6>
                <div class="card-body">

                    <form class="user" action="/validarPatente_2" method="POST">
                        <div class="col-lg-12"> 
                            <input type="file" class="form-control" name="documento" id="documento">
                            <label class="input-group-text btn-lg" for="documento/">Subir imagen</label> 
                          
                        </div>  

                        <div class="col-lg-12 mb-5 mt-5 text-center border">
                            
                            <h2 class="title mb-5 mt-5"></h2>
                                                   
                        </div>
                        <div class="col-lg-12 mr-2 text-center">
                            <!-- <a type="submit" class="btn btn-user btn-primary btn-lg" data-toggle="modal"><i class="fas fa-question-circle"></i> Consultar</a> -->
                            <button type="submit" class="btn btn-user btn-primary btn-lg" id="consultar"><i class="fas fa-question-circle"></i> Consultar</button>
                        </div>
                    </form>        
                </div>
            </div>
            <!-- Container Fluid -->
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}